body {
    background-image: url('.././img/gameBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*.logout img {*/
/*    background-color: white;*/
/*}*/

tr, td, table{
    /*border: "0";*/
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;

}

.container img {
    width: 50px;
    height: 60px;
}


img.stack{
    position: absolute;
    top: 0;
    left: 0;
}

.datatable tfoot {
    display: table-header-group;
}

.datatable tfoot .filter-column {
    width: 100% !important;
}


/*!**/
/*    General Structure*/
/**!*/
/*.sidebar {*/
/*    width: 200px;*/
/*    border: 0px solid black;*/
/*}*/

/*#left {*/
/*    float: left;*/
/*}*/

/*#right {*/
/*    float: right;*/
/*}*/

/*#contents {*/
/*    margin-left: 210px;*/
/*    margin-right: 210px;*/
/*}*/




/*!**/
/*    Course List*/
/**!*/
/*ul#courses {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*}*/
/*#courses li {*/
/*    float: left;*/
/*    width: 80;*/
/*}*/
/*#courses li a {*/
/*    display: block;*/
/*    padding: 3px;*/
/*    text-decoration: none;*/
/*}*/
/*#courses li a:hover {*/
/*    background-color: yellow;*/
/*}*/

/*tr.header {*/
/*    !*font-weight: bold;*!*/
/*    !*font-size: 50px;*!*/
/*}*/
/*tr.offerings {*/
/*    cursor: pointer;*/
/*}*/
/*tr.offerings:hover {*/
/*    background-color: yellow;*/
/*}*/
